<% present comment do |comment_presenter| %>
  <li class="well">
    <%= comment_presenter.deletable item %>

    <% present comment.author do |user_presenter| %>
      <%= user_presenter.avatar %>
    <% end %>

    <div class="body">
      <%= comment_presenter.author %>
      <span><%= comment_presenter.body %></span>
      <div class="metadata"><%= comment_presenter.metadata %></div>
    </div>
  </li>
<% end %>