<!DOCTYPE html>
<html>
  <head>
    <title>Activity Stream</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= render 'shared/navigation' %>

      <%= yield %>
    </div>
  </body>
</html>
